n8n-workflows/video-perception.json
{
  "name": "V-Suite Video Perception",
  "nodes": [
    {
      "parameters": {
        "path": "tavus-perception",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Tavus Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "url": "=https://tavusapi.com/v2/conversations/{{$json.body.conversation_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "headerAuth": {
          "item": [
            {
              "name": "x-api-key",
              "value": "YOUR_TAVUS_API_KEY"
            }
          ]
        }
      },
      "name": "Get Call Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hill-nissan-backend.onrender.com/api/analytics/ingest",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "tavus"
            },
            {
              "name": "conversation_id",
              "value": "={{$json.conversation_id}}"
            },
            {
              "name": "data",
              "value": "={{$json}}"
            }
          ]
        }
      },
      "name": "Push to V-Suite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [ 500, 300 ]
    }
  ],
  "connections": {
    "Tavus Webhook": { "main": [ [ { "node": "Get Call Details", "type": "main", "index": 0 } ] ] },
    "Get Call Details": { "main": [ [ { "node": "Push to V-Suite", "type": "main", "index": 0 } ] ] }
  }
}
